/*
    Programado por Luis Cabrera Benito 

  ____          _____               _ _           _       
 |  _ \        |  __ \             (_) |         | |      
 | |_) |_   _  | |__) |_ _ _ __ _____| |__  _   _| |_ ___ 
 |  _ <| | | | |  ___/ _` | '__|_  / | '_ \| | | | __/ _ \
 | |_) | |_| | | |  | (_| | |   / /| | |_) | |_| | ||  __/
 |____/ \__, | |_|   \__,_|_|  /___|_|_.__/ \__, |\__\___|
         __/ |                               __/ |        
        |___/                               |___/         
    
    
    Blog:       https://parzibyte.me/blog
    Ayuda:      https://parzibyte.me/blog/contrataciones-ayuda/
    Contacto:   https://parzibyte.me/blog/contacto/
*/

@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

.body-style {
    /*Para la barra inferior fija*/
    background-color: #ace4d4;
    background-image: url(../img/water/bg.gif);
    background-repeat: repeat-x;
    background-position: bottom;
    background-attachment: fixed;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none;
}

.div-center{
    position: absolute;
    left: 0;
    right: 0;
    padding: 10px;
    text-align: center;
}

.score-text{
    margin: 0;
    font-family: "Press Start 2P", system-ui;
    font-size: 0.7em; /* Tamaño de fuente base */
    /* Tamaños de fuente responsivos */
    font-size: calc(0.7em + 0.7vw); /* Ajuste basado en el ancho de la pantalla */
    font-size: min(0.7em + 0.7vw, 1em); /* Limitar el tamaño máximo de la fuente */
    font-size: max(0.7em + 0.7vw, 0.2em); /* Limitar el tamaño mínimo de la fuente */
}
.retro-family {
    font-family: "Press Start 2P", system-ui;
}

img.card-img-top {
    object-fit: cover;
    cursor: pointer;
    max-height: 200px !important;
    max-width: 200px !important;
    min-height: auto;
    min-width: auto;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    
    to {
        opacity: 1;
    }
}

img.card-img-top.girar {
    animation: fadein 1s;
    transform: rotateY(180deg);
    transition: transform 0.5s ease;
}

.options {
    margin-left: auto;
    display: block;
    background-color: transparent;
    border: none;
    transition: transform 100ms ease;
}

.options img {
    width: 80px;
    height: auto;
}

.options:focus {
    outline: none;
}

.options:active {
    transform: scale(1.5);
}

.options:active > img {
    content:url(../img/reset_button_yellow.svg);
}

.center {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.table {
    width: 100%; /* Cambiado a unidad relativa */
    max-width: 600px; /* Agregado para limitar el ancho máximo */
    height: 20vh; /* Cambiado a unidad relativa */
    max-height: 100px; /* Agregado para limitar la altura máxima */
    background-color: #d4e5ff;
}

.table .monitor-wrapper {
    background: #050321;
    width: 95%; /* Cambiado a unidad relativa */
    max-width: 580px; /* Agregado para limitar el ancho máximo */
    height: 60vw; /* Cambiado a altura relativa */
    max-height: 80px; /* Agregado para limitar la altura máxima */
    box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.table .monitor-wrapper .monitor {
    width: 90%; /* Cambiado a unidad relativa */
    max-width: 530px; /* Agregado para limitar el ancho máximo */
    height: 45vw; /* Cambiado a altura relativa */
    max-height: 60px; /* Agregado para limitar la altura máxima */
    background-color: #344151;
    overflow: hidden;
    white-space: nowrap;
    box-shadow: inset 0px 5px 10px 2px rgba(0, 0, 0, 0.3);
}

.table .monitor-wrapper .monitor p {
    font-family: "VT323", monospace;
    font-size: 4vw; /* Cambiado a tamaño de fuente relativo */
    position: relative;
    display: inline-block;
    animation: move 5s infinite linear;
    color: #ebb55f;
    top: 50%; /* Ajustado para centrar verticalmente el texto */
    transform: translateY(-50%); /* Ajustado para centrar verticalmente el texto */
}

@keyframes move {
    from {
        left: 100%; /* Cambiado a unidad relativa */
    }

    to {
        left: -120%; /* Cambiado a unidad relativa */
    }
}


/* .center {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.table {
    width: 600px;
    height: 100px;
    background-color: #d4e5ff;
}

.table .monitor-wrapper {
    background: #050321;
    width: 580px;
    height: 80px;
    box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.table .monitor-wrapper .monitor {
    width: 530px;
    height: 60px;
    background-color: #344151;
    overflow: hidden;
    white-space: nowrap;
    box-shadow: inset 0px 5px 10px 2px rgba(0, 0, 0, 0.3);
}

.table .monitor-wrapper .monitor p {
    font-family: "VT323", monospace;
    font-size: 71px;
    position: relative;
    display: inline-block;
    animation: move 5s infinite linear;
    color: #ebb55f;
    top: -30px;
}

@keyframes move {
    from {
        left: 800px;
    }

    to {
        left: -800px;
    }
} */